{% extends "base.html" %}
{% load article_tags %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block body %}
    <section id="post-detail">
        <div class="row">
            <div class="span8">
                <article id="post-item">
                    <header class="page-header clearfix">
                        <h2>{{ object.hat }}</h2>
                        <h3>{{ object.title }}</h3>

                        <p>{{ object.date_available|date:"d/m/Y" }} - {{ object.user.get_full_name }}</p>

                         <div class="socials pull-right clearfix">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                                <a class="addthis_button_tweet"></a>
                                <a class="addthis_button_pinterest_pinit"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=hersonls"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </header>

                    <div>
                        <div class="thumbnail pull-left span3" style="margin-right: 30px">
                            <img  src="{{ MEDIA_URL }}{{ object.main_image.image }}"  alt="{{ object.main_image.title }}" />

                            <p>{{ object.main_image.title }}</p>
                        </div>

                        {{ object.content|safe }}
                    </div>  

                    <footer>
                        <div class="fb-comments" data-href="http://yacows.com" data-width="700" data-num-posts="10"></div>
                    </footer>
                </article>
            </div>

            <div class="span4">
                {% get_all_articlebox 'esporte' 'articles/articlebox_side_list.html' %}
            </div>
        </div>
    </section>
{% endblock %}   